<!DOCTYPE html>
<html>
<head>
	<title>Mindaugas Bernotas</title>

		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Mindaugas Bernotas", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<%= link_to "Projects", projects_path %>
			<%= link_to "Contact", new_contact_path %>
			<% if user_signed_in? %>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
				<% end %>			
		</nav>
	</header>

	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif alert %>
   <p class="alert"><%= alert %></p>
  <% end %> 

	<%= yield %>

	<footer id="main_footer">
		<p class="copyright">&#169;2016 Mindaugas Bernotas</p>
		<nav>
			<a href="http://www.gmail.com" target="blank"><i class="fa fa-google" aria-hidden="true"></i></a>
			<a href="http://github.com" target="blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="http://www.facebook.com" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		</nav>		
	</footer>

</body>
</html>
